body{
    margin: 0;
    padding: 0;
}
.section1{
    background-image: url(bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(240, 250, 255);
    height: 650px;
}
.logo{
    width: 150px;
    height: 22px;
    margin-left: 90px;
    margin-top: 35px;
}
.logo-button{
    display: flex;
    flex-direction: row;
    
}
.button1{
    margin-right: 10px;
    margin-left: 885px;
    margin-top: 35px;
    margin-bottom: 60px;
   
}

.try-it-free{
    height: 33px;
    width: 140px;
    border-radius: 40px;
    background-color: white;
    font-size: x-small;
    font-weight: bolder;
    border-style: none;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
.mock-ups{
    height: 450px;
    width: 600px;
    margin-left: 60px;
}
.mockups-build{
    display: flex;
    flex-direction: row;

}
.headtag1{
    display: inline-block;
    width: 500px;
    margin-left: 90px;
    margin-top: 70px;
    font-size: xx-large;
    line-height: 45px;
    
}
.paragraph1{
    width: 460px;
    margin-left: 90px;
    margin-right: 50px;
    font-size: large;
}
.button2{
    margin-left: 90px;
    height: 40px;
    width: 300px;
    margin-top: 30px;
}
.get-started{
    width: 230px;
    height: 40px;
    border-radius: 40px;
    border-style: hidden;
    background-color: hotpink;
    font-size: small;
    color: white;
}

.section2{
    border-style: outset;
    border-right: outset;
    border-bottom: outset;
    border-radius: 20px;
    margin: 150px 100px 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.headtag2{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 115px;
    flex-wrap: wrap;
}
.grow{
    display: inline-block;
    width: 50% ;
    font-size: larger;
    margin-bottom: 2px;
}
.grow-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 180px;
}
.paragraph2{
    width: 420px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section3{
    border-style: outset;
    border-right: outset;
    border-bottom: outset;
    border-radius: 20px;
    margin: 35px 100px 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.flowing-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 100px;
}
.headtag3{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 180px;
}
.flowing{
    display: inline-block;
    width: 70% ;
    font-size: large;
    margin-bottom: 2px;
}
.paragraph3{
    width: 440px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section4{
    border-style: outset;
    border-right: outset;
    border-bottom: outset;
    border-radius: 20px;
    margin: 35px 100px 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.headtag4{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 115px;
    flex-wrap: wrap;
}
.your{
    display: inline-block;
    width: 50% ;
    font-size: larger;
    margin-bottom: 2px;
}
.your-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 180px;
}
.paragraph4{
    width: 420px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section5{
    border-style: outset;
    border-right: outset;
    border-bottom: outset;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    height: 240px;
    width: 700px;
    margin-top: -150px;
    margin-left: 330px;

}
.ready{
    font-size: larger;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
#get-started{
    width: 320px;
    height: 60px;
    margin-left: 100px;
}
.section6{
    border-style: hidden;
    background-color: rgb(6, 27, 31);
    height: 500px;
    color: white;
    padding-top: 150px;
}
.logo2{
    display: inline-block;
    color: white;
    height: 24px;
    width: 170px;
    filter: grayscale(100%) brightness(1000%);
   
}
.location{
    height: 12px;
    width: 14px;
}
.footer1{
    display: flex;
    flex-direction: column;
}
.lorem{
    display: inline-block;
    width: 37%;
}
.phone-no{
    display: inline-block;
}
.footer2{
    display: inline-block;
}
.footer3{
    display: inline-block;
   
}
.mid-footer{
    display: flex;
    flex-direction: column;
}